.logo2 {
    position: relative;
    left: 1.5%;
    margin-top: 0.4%;
    width: 5%;
  }

.logo {
    position: relative;
    left: 1.5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.heading {
    text-align: center;
}

.container {
    max-width: 45%;
}

.form-group {
    margin-bottom: 2rem;
}

.jumbotron {
    padding: 1%;
}

.bottomImage {
    width: 2.5%;
}

.approveMessage{
    background-color: #ddffdd;
    border-left: 6px solid #4CAF50;
    text-align: center;
    margin-top: 4%;
}

.tableButton {
    float: right;
    margin-top: 12%;
}