<form *ngIf="loggedIn == false" (submit)="loginSubmit($event)" [formGroup]="form" novalidate>
  <a href="/college">
    <img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTP7S_pUTkJSCMKN67O4X0gib_aXaO3cw7O9heCrrvOZsGPOmx6jcQn6Q">
  </a>
  <div class="container">
    <div class="heading">
      <h1>
        Login Details
      </h1>
    </div>
    <div class="form-group">
      <label>
        <br>
        <b>Login</b>
      </label>
      <input class="form-control" formControlName="login" type="text" id="login">
    </div>
    <div *ngIf="form.controls['login'].invalid && (form.controls['login'].dirty || form.controls['login'].touched)" class="alert alert-danger">
      <div *ngIf="form.controls['login'].errors.required">
        Login Id is required.
      </div>
    </div>

    <div class="form-group">
      <label>
        <b>Password</b>
      </label>
      <input class="form-control" formControlName="password" type="password" id="password">
    </div>
    <div *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)"
      class="alert alert-danger">
      <div *ngIf="form.controls['password'].errors.required">
        Password is required.
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="form.controls['login'].pristine || form.controls['login'].invalid || form.controls['password'].pristine || form.controls['password'].invalid">
      Submit
    </button>
    <div *ngIf="invalid" class="invalidMessage">https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css
      <strong>Please enter correct credentials</strong>
    </div>
  </div>
</form>

<div *ngIf="loggedIn">
  <img class="logo2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQivXTvcFKHQy1NmQqRPQij_-rhmi6SWunIEpIidiyg4uGTmORI8Q">
  <div class="jumbotron jumbotron-fluid">
    <div class="heading">
      <h1>
        Details for approval
        <img class="bottomImage" src="https://image.flaticon.com/icons/png/512/58/58679.png">
      </h1>
    </div>
  </div>

  <div class="container">
    <table id="example" class="display" style="width:100%">
      <thead>
        <tr>
          <th></th>
          <th>Student Name</th>
          <th>Branch</th>
          <th>Year</th>
        </tr>
      </thead>
      <br>
      <tbody>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>Rahul Rajput</td>
          <td>CSE</td>
          <td>2014</td>
        </tr>
        <br>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>Hari Prasad</td>
          <td>ECE</td>
          <td>2015</td>
        </tr>
        <br>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>Badiyuzama Mohammad</td>
          <td>CSE</td>
          <td>2010</td>
        </tr>
        <br>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>Rohit Chauhan</td>
          <td>MCA</td>
          <td>2017</td>
        </tr>
      </tbody>
    </table>
    <div class="tableButton">
      <button class="btn btn-success">Approve</button>
    </div>
  </div>
</div>