<a href="/">
    <img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQivXTvcFKHQy1NmQqRPQij_-rhmi6SWunIEpIidiyg4uGTmORI8Q">
</a>

<form (submit)="recordSubmission($event)" [formGroup]="studentForm" autocomplete="on" novalidate>
    <div class="jumbotron jumbotron-fluid">
            <div class="heading">
                <h1>
                    Please verify your details <img class="bottomImage" src="https://image.flaticon.com/icons/png/512/58/58679.png">
                </h1>
            </div>
    </div>
    <div class="container">

        <div class="form-group">
            <label>
                <br>
                <b>Student Name</b>
            </label>
            <input class="form-control" formControlName="studentName" type="text" id="studentName">
        </div>

        <!-- <div *ngIf="angularForm.controls['studentName'].invalid && (angularForm.controls['studentName'].dirty || angularForm.controls['studentName'].touched)"
        class="alert alert-danger">
        <div *ngIf="angularForm.controls['studentName'].errors.required">
          Student Name is required.
        </div>
      </div> -->

        <div class="form-group">
            <label>
                <b>Branch</b>
            </label>
            <input class="form-control" formControlName="studentBranch" type="text" id="studentBranch">
        </div>

        <!-- <div *ngIf="angularForm.controls['studentBranch'].invalid && (angularForm.controls['studentBranch'].dirty || angularForm.controls['studentBranch'].touched)"
        class="alert alert-danger">
        <div *ngIf="angularForm.controls['studentBranch'].errors.required">
          Student Branch is required.
        </div>
      </div> -->


        <!-- 
      <div class="form-group">
        <label>
          <b>Juisdiction </b>
        </label>
        <select formControlName="selectedState" class="form-control" id="newFillingJuidiction">
          <option *ngFor="let name of juisdictions">
            {{name.jurisdiction}}
          </option>
        </select>
      </div>
  
      <div class="form-group">
        <label>
          <b>Filling From Type</b>
        </label>
        <div class="form-check form-check-inline" style="padding-left: 10%">
          <input class="form-check-input" type="radio" name="uccRadio" id="UCC1" value="UCC1" checked>
          <label class="form-check-label" for="UCC1"> UCC1 </label>
        </div>
        <div class="form-check form-check-inline" style="padding-left: 5%">
          <input class="form-check-input" type="radio" name="uccRadio" id="UCC3" value="UCC3">
          <label class="form-check-label" for="UCC3"> UCC3 </label>
        </div>
      </div> -->

        <div class="form-group">
            <label>
                <b>Year of Passing</b>
            </label>
            <input class="form-control" formControlName="passingYear" type="text" id="passingYear">
        </div>

        <!-- <div *ngIf="angularForm.controls['passingYear'].invalid && (angularForm.controls['passingYear'].dirty || angularForm.controls['passingYear'].touched)"
        class="alert alert-danger">
        <div *ngIf="angularForm.controls['passingYear'].errors.required">
          Student passing year is required.
        </div>
      </div>
   -->

        <div class="form-group">
            <label>
                <b>College Name</b>
            </label>
            <input class="form-control" formControlName="collegeName" type="text" id="collegeName">
        </div>
        <!--   
      <div *ngIf="angularForm.controls['collegeName'].invalid && (angularForm.controls['collegeName'].dirty || angularForm.controls['collegeName'].touched)"
        class="alert alert-danger">
        <div *ngIf="angularForm.controls['collegeName'].errors.required">
          College name is required.
        </div>
      </div> -->

        <button (click)="refresh()" type="button" style="margin-right: 8%" class="btn btn-secondary">
            Cancel
        </button>

        <button type="submit" class="btn btn-success" class="btn btn-success">
            Submit
        </button>
    </div>
</form>