.logo {
    position: relative;
    left: 1.5%;
    margin-top: 0.4%;
    width: 5%;
  }

  .heading {
    text-align: center;
}

.container {
    max-width: 37%;
}

.form-group {
    margin-bottom: 2rem;
}

.jumbotron {
    padding: 0.5%;
    background-color: #f39b7b;
}

.bottomImage {
    width: 2%;
}

.approveMessage{
    background-color: #ddffdd;
    border-left: 6px solid #4CAF50;
    text-align: center;
    margin-top: 4%;
}